.textarea {
  padding: 5px;
  width: 98.5%;
  resize: none;
  border-radius: 5px;
}

.divPrincipal {
  display: flex;
  align-items: center;
}

.divCenario {
  border: 1px solid #ccc;
  border-radius: 10px;
}

.alignScene {
  display: flex;
}

.sceneText {
  padding-left: 10px;
}

.divEquips {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 5px;
  max-width: 50%;
}

.divConexoes {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 5px;
  max-width: 50%;
}

.botaoCenario {
  background-color: #02aa4d;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 12px;
  border: 1px solid #0077b5;
  padding: 3px 5px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
  margin: 10px 10px;
}

.divAcao {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.divFato {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 10px;
}

.container {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 10px;
}

.header {
  text-align: center;
  object-fit: cover;
}

.imgHeader {
  width: 50%;
}


.divButton {
  padding: 10px;
  display: flex;
  justify-content: center;

}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  z-index: 1000;
  cursor: default;
  padding: 0;
  margin-top: 2px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.ui-autocomplete>li {
  padding: 3px 20px;
}

.ui-autocomplete>li.ui-state-focus {
  background-color: #DDD;
}

.ui-helper-hidden-accessible {
  display: none;
}


.ui-autocomplete-menu {
  max-height: 200px;
  overflow-y: auto;
}

.ui-autocomplete .ui-state-active {
  background-color: #90ee90;
  width: 100%;
}

ul {
  max-width: 1000px;
  list-style-type: none;
  padding: 10px;
  margin: 0;
  border: 1px solid #ccc;
}

ul li {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
}

ul li:hover {
  background-color: #90ee90;
}

button {
  background-color: #02aa4d;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  border: 1px solid #0077b5;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
  margin: 0 10px;
}

button:hover {
  background-color: #90ee90;
}
