.textarea {
  padding: 5px;
  width: 98.5%;
  resize: none;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.theme-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}
.divPrincipal {
  display: flex;
  align-items: center;
}

.divCenario {
  border: 1px solid #ccc;
  border-radius: 10px;
}

.alignScene {
  display: flex;
}

.sceneText {
  padding-left: 10px;
}

.creatableSelect {
  margin-bottom: 10px;
}

.divEquips {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 5px;
  max-width: 50%;
  display: flex;               
  flex-direction: column;
  align-items: center;
  padding: 10px; 
}

.divConexoes {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 5px;
  max-width: 50%;
  display: flex;           
  flex-direction: column;
  align-items: center;
  padding: 10px; 
}

.botaoCenario {
  justify-content: center;
  background-color: #02aa4d;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
  margin: 5px 10px;
}

.divAcao {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.divFato {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 10px;
}

.container {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 10px;
}

.header {
  text-align: center;
  object-fit: cover;
}

.imgHeader {
  width: 50%;
}


.divButton {
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.divButton > button {
  margin: 0 20px;
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  z-index: 1000;
  cursor: default;
  padding: 0;
  margin-top: 2px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.ui-autocomplete>li {
  padding: 3px 20px;
}

.ui-autocomplete>li.ui-state-focus {
  background-color: #DDD;
}

.ui-helper-hidden-accessible {
  display: none;
}


.ui-autocomplete-menu {
  max-height: 200px;
  overflow-y: auto;
}

.ui-autocomplete .ui-state-active {
  background-color: #DCDCDC;
  width: 100%;
}

ul {
  max-width: 1000px;
  list-style-type: none;
  padding: 10px;
  margin: 0;
  border: 1px solid #ccc;
}

ul li {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
}

ul li:hover {
  background-color: #555;
}

button {
  background-color: #02aa4d;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
  margin: 0 10px;
}

button:hover {
  border-color: #02aa4d;
  background-color: #90ee90;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid green;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.modal-message {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.0rem;
  box-shadow: 0 2px 10px rgba(15, 58, 28, 0.1);
  color: green;
}
.dark-theme {
  background-color: #1E1E1E;
  color: #FFFFFF;
}

.dark-theme input,
.dark-theme textarea {
  background-color: #1E1E1E;
  color: #FFFFFF;
  border: 1px solid #333333;
}

.dark-theme button {
  background-color: #02aa4d;
  color: #FFFFFF;
}

.dark-theme button:hover {
  background-color: #90ee90;
}

.dark-theme textarea {
  border: 2px solid #02aa4d;
}

.dark-theme .theme-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.dark-theme .ui-autocomplete{
  background-color: #333;
  border: 1px solid #555;
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1);
}
.dark-theme .ui-autocomplete > li {
  color: #fff;
  background-color: #444;
  cursor: pointer;
  border: none
}

.dark-theme .container, 
.dark-theme .divAcao, 
.dark-theme .divConexoes, 
.dark-theme .divEquips{
  border: 1px solid #02aa4d;
}
